venv/
.venv/
env/
ENV/
*.env
.env
__pycache__/
*.pyc
*.db
/*.db
db.sqlite3
/db.sqlite3
db.sqlite3-journal
.DS_Store
*.log
.vscode/
build/
*.sqlite3
dist/
*.egg-info/
secrets.py
lib/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
.Readme2.md
views2.py
gcp-keys/
settings2.py
app2.yaml
resolve_secrets.py