{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
{% endblock %}
{% block title %}Dash Page{% endblock title %}
{% block content %}

    <nav>
        <a href="/profile">User Profile</a>
        <br><br>
    </nav>
    <!-- <a href="{% url 'oidc_logout' %}">Logout</a> -->
    <form method="post" action="{% url 'oidc_logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <h3>Welcome, {{ user.username }}! - {{ user.email }}</h3>
    <p>You are logged in.</p>
    <p>Access <a href="/api/customers/">Customers API</a> or <a href="/api/orders/">Orders API</a></p>

{% endblock %}